<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bootslander Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/aos.css" rel="stylesheet">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/boxicons.min.css" rel="stylesheet">
  <link href="/static/glightbox.min.css" rel="stylesheet">
  <link href="/static/remixicon.css" rel="stylesheet">
  <link href="/static/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">

</head>

<body>
  <main id="main">

        <!-- ======= Defense Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container">
      
              <div class="section-title" data-aos="fade-up">
                <h2>Protect yourselves! </h2>
                <p>Defense techniques</p>
              </div>
      
              <div class="row no-gutters" data-aos="fade-left">
      
                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
                    <a href="/static/Defense1.jpg" class="gallery-lightbox">
                      <img src="/static/Defense1.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div><br><br><br>
      
                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
                    <a href="/static/Defense1.jpg" class="gallery-lightbox">
                      <img src="/static/Defense1.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div><br><br><br>
      
                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
                    <a href="/static/Defense1.jpg" class="gallery-lightbox">
                      <img src="/static/Defense1.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div><br><br><br>
      
                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
                    <a href="/static/Defense1.jpg" class="gallery-lightbox">
                      <img src="/static/Defense1.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div><br><br><br>
      
                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
                    <a href="/static/Defense1.jpg" class="gallery-lightbox">
                      <img src="/static/Defense1.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>
      
                <!-- <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
                    <a href="assets/img/gallery/gallery-6.jpg" class="gallery-lightbox">
                      <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
                    <a href="assets/img/gallery/gallery-7.jpg" class="gallery-lightbox">
                      <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-4">
                  <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
                    <a href="assets/img/gallery/gallery-8.jpg" class="gallery-lightbox">
                      <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                    </a>
                  </div>
                </div> -->
      
              </div>
      
            </div>
          </section><!-- End Gallery Section -->

  </main><!-- End #main -->


  <!-- Vendor JS Files -->
  <script src="/static/bootstrap.bundle.min.js"></script>
  <script src="/static/aos.js"></script>
  <script src="/static/glightbox.min.js"></script>
  <script src="/static/validate.js"></script>
  <script src="/static/purecounter.js"></script>
  <script src="/static/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/main.js"></script>

</body>

</html>